# VSCode & misc
*.code-workspace
.vscode
static/.DS_Store
static/img/.DS_Store
static/img/**/.DS_Store
schemas/.DS_Store
schemas/backup/*

# Dependencies
node_modules

# Artifacts
.docusaurus
build
.env

# CORS test files created by generate.js
corstests.js
cors_failed.txt

# Generated pages
docs/network-data/index.mdx
docs/staking/index.mdx
docs/staking/02_Networks/**
docs/rewards/**
docs/validators/**
