/* line height for the side nav */
.menu__link {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* side-nav color & size */
[data-theme="light"] .menu {
  background: var(--side-nav-bg);
  width: var(--doc-sidebar-width);
  height: 100vh !important;
}

[data-theme="dark"] .menu {
  background: var(--side-nav-bg);
  width: var(--doc-sidebar-width);
  height: 100vh !important;
}

.theme-doc-sidebar-container {
  width: var(--doc-sidebar-width);
  background: var(--side-nav-bg);
  border-right: 1px solid black;
}

/* only make links bold when active */
.menu__link,
.navbar-sidebar__back {
  color: var(--side-nav-color);
  font-weight: normal;
}

.menu__link:hover {
  color: #0b703f;
}

.menu__link--active {
  font-weight: bold;
  color: #0b703f;
}

.menu__list .menu__list .menu__link.menu__link--active {
  font-weight: bold;
}

/* prevent menu items from overflowing the container */
.menu__list-item {
  margin-right: 12px;
}

/* menu caret button - clean-btn also impacts the colormode toggle */
[data-theme]
  .clean-btn:not(.toggleButton_src-theme-ColorModeToggle-styles-module):not(
    .overlayHeaderButton_src-components-APIMethods-components-CodeExample-styles-module
  ):not(.theme-back-to-top-button) {
  width: 1.25rem;
  padding: 0;
}

/* menu caret */
[data-theme] .clean-btn.menu__caret {
  width: 1.25rem;
  padding: 0;
}

.menu__link--sublist-caret {
  padding-left: 1.75rem;
}

.menu__list-item-collapsible a {
  order: 1;
}

.menu__list-item-collapsible button {
  order: 0;
}

.menu__link--sublist-caret::after {
  position: absolute;
  left: 0;
}

/* TODO: align link items and categories accounting for removed caret */
.menu__list-item-collapsible {
  margin-left: -20px !important;
}

.menu__list-item-collapsible:is(.menu__list-item-collapsible--active) {
  font-weight: bold;
}

/* hide menu carets */
[data-theme] .menu__link--sublist-caret::after,
[data-theme] .clean-btn.menu__caret::before {
  background: transparent;
  display: none;
}

[data-theme] .menu__link--sublist-caret::after,
[data-theme] .menu__link--active + .clean-btn.menu__caret::before {
  background: transparent;
  display: none;
}
/* end hide menu carets */

/* display menu carets */
/* [data-theme] .clean-btn.menu__caret {
  margin-left: 15px;
 }
 
[data-theme] .menu__link--sublist-caret::after,
[data-theme] .clean-btn.menu__caret::before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.6)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>')
    50% / 1.25rem 1.25rem;
}

[data-theme] .menu__link--sublist-caret::after,
[data-theme] .menu__link--active + .clean-btn.menu__caret::before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.99)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>')
    50% / 1.25rem 1.25rem;
} */
/* end display menu carets */

/* identify current link, using ::after to place arrow to the right of the link */
/* .menu__link--active:not(.menu__list-item-collapsible):not(
    .menu__link--sublist
  ):is(.menu__link--active)::after {
  content: "";
  display: inline-block;
  background: var(--arrowSVG);
  height: 0.5rem;
  width: 0.1rem;
  min-height: 1rem;
  min-width: 1rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
} */

/* TODO: Make arrow appear to the right of the list item */
/* li > div > a.menu__link--active::after {
  content: "";
  display: inline-block;
  background: var(--arrowSVG);
  height: 0.5rem;
  width: 0.5rem;
  min-height: 1rem;
  min-width: 1rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
} */

/* side-nav should not move when scrolling */
.theme-doc-sidebar-menu {
  position: fixed;
  width: var(--doc-sidebar-width);
  margin-top: 1rem;
}

/* impacts the thin border of the sidenav */
.theme-doc-sidebar-item-category {
  background-color: var(--side-nav-bg);
}

.theme-doc-sidebar-item-category-level-1:not(.menu__list-item--collapsed) {
  background-color: var(--side-nav-bg);
  margin-bottom: 0.75rem;
}

/* nested categories - :not(:first-child) allows bold on selected category */
div > a.menu__link--sublist:not(:first-child) {
  font-weight: normal;
}

/* nested categories */
.theme-doc-sidebar-item-link-level-1 > a.menu__link--active {
  font-weight: bold;
}

/* nested categories should not be bold unless active */
li.theme-doc-sidebar-item-link-level-2 > a.menu__link {
  font-weight: normal;
}

li.theme-doc-sidebar-item-category-level-2.menu__list-item {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

li.theme-doc-sidebar-item-link-level-4 > a.menu__link--active {
  font-weight: normal;
}

.menu__link:hover,
.menu__link--active,
.menu__list-item-collapsible--active,
.menu__caret:hover,
.menu__list-item-collapsible:hover {
  background: transparent;
}

/* background color on active links */
/* impacts the thin border of the sidenav */
.menu__link--active:not(.menu__link--sublist) {
  background-color: var(--side-nav-bg);
}

/* menu item indents below categories */
.menu__list ul li {
  margin-left: 0.3rem;
  overflow: hidden;
}

div.navbar__logo > b.navbar__title {
  color: black;
}
