/* 👇 Feedback button in navbar */
.navbar [class*="toggle_node_modules"] button {
  background-color: transparent;
}

[data-theme="light"] .navbar [class*="toggle_node_modules"] button {
  color: black;
}

[data-theme="dark"] .navbar [class*="toggle_node_modules"] button {
  color: white;
}

.theme-doc-sidebar-container {
  background-color: transparent;
}

.navbar__title,
.navbar__brand svg {
  color: var(--top-nav-font-color);
  text-decoration: none;
  font-size: 1.2em;
  margin-left: 8px;
}

/* 👇 Hide the top-nav */
.navbar--fixed-top {
  box-shadow: none;
  border-right: 1px solid var(--ifm-toc-border-color);
}

/* top navbar */
[data-theme="light"] .navbar--fixed-top {
  /* display: none; */
  width: var(--doc-sidebar-width);
  background: var(--logo-nav-bg);
}

[data-theme="light"] .navbar__title {
  color: black;
}

[data-theme="dark"] .navbar--fixed-top {
  /* display: none; */
  width: var(--doc-sidebar-width);
  background: #16161a;
}

[data-theme="dark"] .navbar__title {
  color: white;
}

/* colorModeToggle on navbar */
.navbar__items.navbar__items--right {
  background: transparent;
}

@media screen and (max-width: 996px) {
  [data-theme] .navbar--fixed-top {
    /* display: none; */
    width: 100%;
    background: var(--logo-nav-bg);
    border: 0px solid transparent;
  }
}

@media screen and (max-width: 600px) {
  [data-theme] .navbar--fixed-top {
    width: 100%;
    border: 0px solid transparent;
  }
}
